<li data-theme="c">
  <a href="{% if cinema_id is defined %}{{ path('mobile_cinemaprogram', {id: program.id}) }}?cinema_id={{ cinema_id }}{% else %}{{ path('mobile_program', {id: program.id}) }}{% endif %}">
    {{ program.title }}
    <h5>
      {% if program.best_offer is defined %}
        {% if program.best_offer.episode_title %}{{ program.best_offer.episode_title }}, {% endif %}
        {{ program.best_offer.broadcastdate }}
        <br/>
      {% endif %}
      {{ program.format }} - {{ program.year }}, {{ program.duration }}mn
    </h5>
  </a>
</li>