{% extends 'SkreenHouseFactoryMobileBundle::layout.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}
{% block pageid %}cinemas-program{% endblock %}

{% block content %}


<form action="{{ path('mobile_cinemaprogram', {id: program.id}) }}" method="get">
<input name="q" id="searchinput1" placeholder="75005, Marseille, UGC bastille, etc" value="{{ app.request.get('q') }}" type="search" />
<input type="submit" data-theme="a" value="Lancer la recherche" />
</form>
{% if app.request.get('q') %}
<a href="{{ path('mobile_cinemaprogram', {id: program.id}) }}" data-theme="a" data-role="button" data-icon="check">Trouver une séance près d'ici</a>
<br/>
<br/>
<h3>Recherche : {{ app.request.get('q') }}</h3>
{% else %}
<br/>
<br/>
{% if app.request.get('cinema_id') is null %}
<h3>Séances près d'ici</h3>
{% endif %}
{% endif %}
<ul id="cinemas" data-role="listview" data-divider-theme="a" data-inset="true">
  {% if cinemas %}
    {% if cinemas|length == 0 %}
      <li data-theme="c">
        <a href="#">
          Aucun cinéma trouvé
        </a>
      </li>
    {% else %}
      {% for cinema in cinemas %}
        {% if cinema.adress is defined %}
          <li data-role="list-divider" role="heading">
            <small>{{ cinema.adress }} {{ cinema.city }} {{ cinema.zip_code }}</small>
            {{ cinema.name }}
          </li>
          {% for day in days if attribute(cinema.schedules[0].horaires, day) is defined %}
            <li data-theme="c">
              <small>{{ attribute(cinema.schedules[0].horaires, day)|replace({',': ', '}) }}</small>
              {{ day }}
            </li>
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
</ul>


{% if app.request.get('q') is null and app.request.get('cinema_id') is null %}
<script>
$(document).ready(function(){  
  if (!API.cookie('latlng')) {
    setTimeout(function(){
      UI.loadCinemas('{{ path('mobile_cinemaprogram', {id: program.id}) }}');
    }, 1000);
  } else if (document.location.href.indexOf('?latlng=') == -1) {
    $.mobile.changePage( '{{ path('mobile_cinemaprogram', {id: program.id}) }}?latlng='+API.cookie('latlng') );
  }
});
</script>
{% endif %}
{% endblock %}