{% extends 'SkreenHouseFactoryMobileBundle::layout.html.twig' %}

{% block title %}Au cinéma{% endblock %}
{% block pageid %}cinema{% endblock %}

{% block content %}

<h3>Rechercher une salle</h3>

<form action="{{ path('mobile_cinema') }}" method="get">
<input name="q" id="searchinputcine" placeholder="75005, Marseille, UGC bastille, etc" value="{{ app.request.get('q') }}" type="search" />
<input type="submit" data-theme="a" value="Lancer la recherche" />
</form>
<br/>
<a href="{{ path('mobile_cinema') }}" data-theme="a" data-role="button" data-icon="check">Les cinémas près d'ici</a>
<br/>

{% if app.request.get('q') %}
<br/>
<h3>Recherche : {{ app.request.get('q') }}</h3>
{% else %}
<br/>
<br/>
<h3>Les cinémas près d'ici</h3>
{% endif %}

<ul id="cinemas" data-role="listview" data-divider-theme="a" data-inset="true">
  {% if cinemas %}
    {% if cinemas|length == 0 %}
      <li data-theme="c">
        <a href="#">
          Aucun cinéma trouvé
        </a>
      </li>
    {% else %}
      {% for cinema in cinemas %}
        {% if cinema.adress is defined %}
          <li data-role="list-divider" role="heading">
            <small>{{ cinema.adress }} {{ cinema.city }} {{ cinema.zip_code }}</small>
            {{ cinema.name }}
          </li>
          {% if cinema.programs %}
            {% for id in cinema.programs|split(',') if attribute(programs, id) is defined %}
              {% set program = attribute(programs, id) %}
              {% include 'SkreenHouseFactoryMobileBundle:Main:_program.html.twig' with {program: program, cinema_id: cinema.id} %}
            {% endfor %}
          {% else %}
            <li><h5>Programmation non connue</h5></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
</ul>


{% if app.request.get('q') is null %}
<script>
$(document).ready(function(){
	if (typeof viewCinemaInitialized == 'undefined') {
		console.log('script cinema', API.cookie('latlng'));
		var viewCinemaInitialized = true;
	  if (!API.cookie('latlng')) {
	    setTimeout(function(){
	      UI.loadCinemas('{{ path('mobile_cinema') }}');
	    }, 1000);
	  } else if (document.location.href.indexOf('?latlng=') == -1) {
	    $.mobile.changePage( '{{ path('mobile_cinema') }}?latlng=' + API.cookie('latlng') );
	  }
	}
})
</script>
{% endif %}
{% endblock %}