{% extends 'SkreenHouseFactoryMobileBundle::layout.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block content %}

    <div style="text-align:center;">
      {% if program.teaser %}
        <video src="{{ program.teaser.player.url }}"
             controls
             height=400 width=300
             poster="{{ program.picture }}"
             style="box-shadow: 0px 0px 25px #000;">
        </video>
      {% else %}
        <img src="{{ program.picture }}" alt="image" style="box-shadow: 0px 0px 25px #000;" />
      {% endif %}
    </div>
    <a data-theme="c" data-id="{{ program.id }}" data-role="button" href="#" class="fav">
      <i class="icon-add-plus"></i> Ajouter à vos playlists
    </a>
    <ul data-role="listview" data-divider-theme="a" data-inset="true">

      {% for type,name in offers if attribute(program.offers, type)|length > 0 %}
        <li data-role="list-divider" role="heading">
          {{ name }}
        </li>
        {% if type == 'theaters' %}
          <li data-theme="c">
            <a href="{{ path('mobile_cinemaprogram', {id: program.id}) }}" data-transition="slide">
              <small>Dans {{ program.boutons[0].theaters|split(',')|length }} cinémas</small>
              Chercher une salle dans les environs
            </a>
          </li>
        {% else %}
        {% set nb=0 %}
        {% for o in attribute(program.offers, type) if (nb < 5) %}
        {% set nb = nb+1 %}
        {% set o_channel = attribute(program.datas_offers.channels, o.channel_id) %}
        {% set o_access = attribute(program.datas_offers.access, o.access_id) %}
        {% set o_episode = o.episode_id is defined ? attribute(program.datas_offers.episodes,  o.episode_id) : '' %}
          <li data-theme="c">
              {% if type == 'deportes' %}
              {% if o.player.url is defined %}
                <a href="{{ o.player.url }}" data-transition="slide">
              {% else %}
                <a href="http://www.myskreen.com{{ program.seo_url }}" data-transition="slide">
              {% endif %}
              {% elseif type == 'broadcasts' %}
              <a href="{{ o.icsfile }}" target="_blank" rel="external">
              {% else %}
              <a href="{{ o.url }}" rel="external">
              {% endif %}
                  <small>
                    {% if o.cost is defined %}
                    {{ o_access.name }} {% if o.cost %}{{ o.cost }} &euro;{% endif %}
                    {% else %}
                    {{ o.broadcastdate }}
                    {% endif %}
                  </small>
                  {{ o_channel.name }}
									{% if o_episode %}
                  <h5>{{ o_episode.title }}</h5>
									{% endif%}
              </a>
          </li>
        {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>
<script>
  var destination = document.location;
</script>
{% endblock %}