{% extends 'SkreenHouseFactoryMobileBundle::layout.html.twig' %}

{% block title %}TV, Replay, VOD, Cinéma : à voir en ce moment{% endblock %}

{% block content %}

{% if home is defined %}
<ul id="selection" data-role="listview" data-divider-theme="a" data-inset="true">
  {% for pack in home.sliders if pack.id is defined and pack.id != 3772181 %}
    <li data-theme="c">
      <a href="{{ path('mobile_selection', {id: pack.id }) }}">
        <small></small>
        {{ pack.name }}
      </a>
    </li>
  {% endfor %}
</ul>
{% else %}
<div data-role="panel" data-position="right" data-display="overlay" data-theme="a" id="panel-related">
<ul data-role="listview" data-divider-theme="a" data-theme="a" data-inset="true">
  <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-a ui-first-child">
    Notre sélection de films en VOD
  </li>
  {% for p in pack.onglet.sliders %}
  <li data-theme="a" data-icon="arrow-l" data-iconpos="left">
    <a data-iconpos="left" href="{{ path('mobile_selection', {id: p.id }) }}">
      {{ p.title }}
    </a>
  </li>
  {% endfor %}
</ul>
</div>
<a href="#panel-related" data-role="button">Toutes les sélections</a>

<ul id="selection" data-role="listview" data-divider-theme="a" data-inset="true">
  <li data-role="list-divider" role="heading">
    {{ pack.name|striptags }}
  </li>
  {% for program in pack.programs %}
    {% include 'SkreenHouseFactoryMobileBundle:Main:_program.html.twig' with {program: program} %}
  {% endfor %}
</ul>
{% endif %}

{% endblock %}